body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.tooltip {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background: #def0f6;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    position: absolute;
    width: 200px;
    white-space: normal;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #ccc;
}

.label {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bubble {
    opacity: 0.2;
    width: 10px;
}

#graph_visualization {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
}

#graph_visualization svg {
    display: block;
    margin: 0 auto !important;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.wp-block-group.has-global-padding.is-layout-constrained {
  max-width: 100%;
  margin: auto;
}